./Reporte/build/
Reporte/build/main.aux
Reporte/build/main.fdb_latexmk
Reporte/build/main.fls
Reporte/build/main.log
Reporte/build/main.out
Reporte/build/main.synctex.gz
Reporte/build/main.pdf
*.pdf
*.gz
